---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    {}
  name: managedaddons.management.llmos.ai
spec:
  group: management.llmos.ai
  names:
    kind: ManagedAddon
    listKind: ManagedAddonList
    plural: managedaddons
    singular: managedaddon
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.repo
      name: Repo
      type: string
    - jsonPath: .spec.chart
      name: Chart
      type: string
    - jsonPath: .spec.version
      name: Version
      type: string
    - jsonPath: .spec.enabled
      name: Enabled
      type: boolean
    name: v1
    schema:
      openAPIV3Schema:
        description: ManagedAddon helps to manage the lifecycle of the LLMOS system
          addons.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              chart:
                type: string
              enabled:
                type: boolean
              repo:
                type: string
              valuesContent:
                type: string
              version:
                type: string
            required:
            - chart
            - enabled
            - repo
            - version
            type: object
          status:
            properties:
              active:
                description: |-
                  The number of pending and running pods which are not terminating (without
                  a deletionTimestamp).
                  The value is zero for finished jobs.
                format: int32
                type: integer
              completionTime:
                description: |-
                  Represents time when the job was completed. It is not guaranteed to
                  be set in happens-before order across separate operations.
                  It is represented in RFC3339 form and is in UTC.
                  The completion time is set when the job finishes successfully, and only then.
                  The value cannot be updated or removed. The value indicates the same or
                  later point in time as the startTime field.
                format: date-time
                type: string
              conditions:
                description: Conditions is an array of current conditions
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    lastUpdateTime:
                      description: The last time this condition was updated.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of the condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              ready:
                description: The number of pods which have a Ready condition.
                format: int32
                type: integer
              state:
                description: State is the state of managedAddon.
                type: string
              succeeded:
                description: |-
                  The number of pods which reached phase Succeeded.
                  The value increases monotonically for a given spec. However, it may
                  decrease in reaction to scale down of elastic indexed jobs.
                format: int32
                type: integer
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
