---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    {}
  name: datasetversions.ml.llmos.ai
spec:
  group: ml.llmos.ai
  names:
    kind: DatasetVersion
    listKind: DatasetVersionList
    plural: datasetversions
    shortNames:
    - dv
    - dvs
    singular: datasetversion
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.dataset
      name: Dataset
      type: string
    - jsonPath: .spec.version
      name: Version
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        description: DatasetVersion is a definition for the LLM Dataset Version
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DatasetVersionSpec defines the desired state of DatasetVersion
            properties:
              copyFrom:
                properties:
                  dataset:
                    type: string
                  namespace:
                    type: string
                  version:
                    type: string
                required:
                - dataset
                - namespace
                - version
                type: object
              dataset:
                type: string
              enableFastLoading:
                type: boolean
              version:
                type: string
            required:
            - dataset
            - version
            type: object
          status:
            properties:
              conditions:
                items:
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      type: string
                    lastUpdateTime:
                      description: The last time this condition was updated.
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of the condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              registry:
                type: string
              rootPath:
                type: string
              snapshot:
                type: string
            required:
            - registry
            - rootPath
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
